{% extends "sctf/base.html" %}
{% load challenges_tags %}
{% load static %}


{% block content %}


<!-- page content -->
<div class="right_col" role="main" style="min-height: 5364px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Scoreboard</h3>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">

			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Ranking Teams</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">

						<p>Simple table with project listing with progress and editing options</p>
						<!-- start project list -->
						<table data-order='[[ 5, "desc" ]]' data-page-length='10' id="datatable-buttons-scoreboard-ranking-list" class="table table-striped table-bordered projects">
							<thead>
								<tr>
									<th style="width: 1%">Position</th>
									<th style="width: 21%">Team Name</th>
									<th>Team Members</th>
									<th>Team Photos</th>
									<th style="width: 20%">Challenges Progress</th>
									<th style="width: 1%">Total Points</th>
								</tr>

							</thead>
							<tbody>
								{% for team in teams %}
								
								<tr>
									<td><h2 class="count green">#{{team.position}}</h2></td>
									<td>
										<a class="count green" href="{% url 'team' pk=team.pk %}">{{team.name}}</a>
										<br />
										<small>Created on {{team.created_at}}</small>
									</td>
									<td>
										<ul class="list-inline">
											<li>
												{{team.num_users}}
											</li>
										</ul>
									</td>
									<td>
										<ul class="list-inline">
										{% for user in team.users.all %}
											<li>
												<img src="{% static "sctf/images/user.png" %}" class="avatar" alt="Avatar">
											</li>
										{% endfor %}

										</ul>
									</td>
									<td class="project_progress">
										<div class="progress progress_sm">
											<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{team.progress}}"></div>
										</div>
										<small>{{team.progress}}% Complete</small>
									</td>
									<td>
										<a>{{team.total_points}}</a>

									</td>

								</tr>
								{% endfor %}

								
							</tbody>
						</table>
						<!-- end project list -->
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Ranking Users</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">

						<p>Simple table with project listing with progress and editing options</p>
						<!-- start project list -->
						<table data-order='[[ 7, "desc" ]]' data-page-length='10' id="datatable-buttons-scoreboard-ranking-list-user" class="table table-striped table-bordered projects">
							<thead>
								<tr>
									<th style="width: 1%">Position</th>
									<th style="width: 21%">Username</th>
									<th>Name</th>
									<th>Surname</th>
									<th>Email</th>
									<th style="width: 1%">User Photo</th>
									<th style="width: 20%">Challenges Progress</th>
									<th style="width: 1%">Total Points</th>
								</tr>

							</thead>
							<tbody>
								{% for user in users %}

								<tr>
									<td><h2 class="count green">#{{user.profile.position}}</h2></td>
									<td>
										<a class="count green" href="#">{{user.username}}</a>
										<br />
										<small>Created on {{user.profile.created_at}}</small>
									</td>
									<td>{{user.first_name}}</td>
									<td>{{user.last_name}}</td>
									<td>{{user.email}}</td>
									<td>
										<ul class="list-inline">

											<li>
												<img src="{% static "sctf/images/user.png" %}" class="avatar" alt="Avatar">
											</li>
											
										</ul>
									</td>
									<td class="project_progress">
										<div class="progress progress_sm">
											<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{user.profile.progress}}"></div>
										</div>
										<small>{{user.profile.progress}}% Complete</small>
									</td>
									<td>
										<a>{{user.profile.total_points}}</a>

									</td>

								</tr>
								{% endfor %}

								
							</tbody>
						</table>
						<!-- end project list -->
					</div>
				</div>
			</div>
			<div class="clearfix"></div>		
		</div>
	</div>
</div>
{% endblock %}



