{% extends "sctf/base.html" %}
{% block title %}Security CTF | Game Paused Page{% endblock %}
{% load challenges_tags %}
{% load static %} {% block content %}

<div class="right_col" role="main" style="min-height: 5364px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="main_color_text"><i class="fa fa-home"></i> GAME PAUSED</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>

						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="bs-example" data-example-id="simple-jumbotron">
							<div class="jumbotron" style="background-color:#333;">
								<h1 style="text-align: center;color:#fff;"><span class="main_color_text"><i class="fa fa-gamepad"></i> Game Paused</span></h1><br>
								<h3 style="text-align:center;color:#fff;"><i class="fa fa-pause"></i> Take a Break!</h3>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="main_color_text"><i class="fa fa-home"></i> GAME PAUSED</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>

						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						
						<img style="display:block;margin:0px auto;text-align:center;" src="{% static 'sctf/images/dog.png' %}" alt="">

					</div>
				</div>

			</div>
		</div>
	</div>

</div>

{% endblock %}
