{% extends "sctf/base.html" %}
{% block title %}Security CTF | Challenges{% endblock %}
{% load challenges_tags %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main" style="min-height: 5364px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<!--<h3>Challenges Categories</h3>-->
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="green">ALL CATEGORIES</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="bs-example" data-example-id="simple-jumbotron">
							<div class="jumbotron" style="background-color:#333;">
								<h1 style="text-align: center;color:#fff;"><span class="blue"><i class="fa fa-bug"></i> You're playing for {{team.name}}</span></h1><br>
								<h3 style="text-align:center;color:#fff;"><i class="fa fa-tags"></i> Categories:<span class="blue"> #{{categories_num}}</span> | <i class="fa fa-bug"></i>									Challenges:<span class="blue"> #{{challenges_count}}</span></h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		
			<div class="clearfix"></div>
			{% for category in categories %}
			<!--<div class="clearfix"></div>-->
			<div class="">
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2><a href="{% url 'challenges_category' category_pk=category.pk %}"><i class="fa fa-tag"></i> {{ category.name }} Category</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div style="min-height:250px;" class="x_content">
						<!-- modals -->
						<p><i class="fa fa-bug"></i> <strong>Description</strong>: {{category.description}}</p>
						<!-- Large modal -->
						
						
						<!-- /modals -->
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
	<!-- /page content -->
	<script >
	function solve(id) {
			key = $('#key_' + id);
			message = $('#message_' + id);
			alert = $('#alert_' + id);
			alert_message = $('#alert_message_' + id);

			if (key.val() == "") {
				key.addClass('parsley-error');
				message.text('This value is required.');
			}
			else {
				$.ajax({
					type: 'post',
					url: '{% url "api-challenge:solve-challenge-list" %}',
					data: { challenge: id, key: $('#key_' + id).val() },
					success: function (data) {
						key.removeClass('parsley-error');
						$("#challenge_button_id_" + id).removeClass('btn-primary').addClass('btn-success');
						alert_message.text('Nice Job! That thing that you were trying to do worked!');
						alert.removeClass('alert-danger alert-warning').addClass('alert-success');
						alert.show();
					},
					error: function (data) {
						if (data.status == "417") { // wrong key
							key.addClass('parsley-error');
							alert_message.text('Oh Noo! Something terrible happened. Wrong Key!');
							alert.removeClass('alert-success alert-warning').addClass('alert-danger');
							alert.show();
						}
						else if (data.status == "412") { // already solved
							key.addClass('parsley-error');
							alert_message.text('Hey man, don\'t cheat! You have already solved this challenge ok?!');
							alert.removeClass('alert-success alert-danger').addClass('alert-warning');
							alert.show();
						}
					},
				});
				return false;
			}
		}
// TODO: Capire come gestire il fatto che se non faccio redirect l'if sul solved non funziona (ovviamente) mostrando i bottoni.
function redirect(){window.location.href="{% url 'challenges_categories' %}";return false;}
</script>
{% endblock %}
{% block extra_js %}
<!-- Graphic (Challenges Overview) init 
<script type="text/javascript">
$(document).ready(function(){init_charts()});function init_charts(){console.log('run_charts  typeof ['+typeof(Chart)+']');if(typeof(Chart)==='undefined'){return}
Chart.defaults.global.legend={enabled:!1};if($('#challengesSolvedForCategory').length){var ctx=document.getElementById("challengesSolvedForCategory");var mybarChart=new Chart(ctx,{type:'bar',data:{labels:JSON.parse("{{ categories_names | escapejs }}"),datasets:[{label:'# Total Challenges',backgroundColor:"#337ab7",data:{{categories_num_total|escapejs}}},{label:'# Challenges Resolved by Team',backgroundColor:"#5bc0de",data:{{categories_num_done_team|escapejs}}},{label:'# Challenges Resolved by You',backgroundColor:"#26B99A",data:{{categories_num_done_user|escapejs}}}]},options:{legend:!0,scales:{yAxes:[{stacked:!1,ticks:{beginAtZero:!0}}]},}})}}
</script>
<!-- Tables (Team Mate Solves) init 
<script type="text/javascript">
$(document).ready(function(){init_TeamBuddySolves()});function init_TeamBuddySolves(){console.log('run_datatables');if(typeof($.fn.DataTable)==='undefined'){return}
var createTable_TeamBuddySolves=function(){if($("#datatable-buttons-team-buddy-solves").length){$("#datatable-buttons-team-buddy-solves").DataTable({dom:"Bfrtip",buttons:[{extend:"copy",className:"btn-sm"},{extend:"csv",className:"btn-sm"},{extend:"print",className:"btn-sm"},],responsive:!0})}};TableManageButtons=function(){"use strict";return{init:function(){createTable_TeamBuddySolves()}}}();TableManageButtons.init()}
</script>
-->
{% endblock %}