{% extends "sctf/base.html" %}
{% load challenges_tags %}

{% block content %}


<!-- page content -->


<div class="right_col" role="main">
	<br />
	<div class="row">
		<div class="page-title">
			<div class="title_left">
				<h3>Challenges Categories</h3>
			</div>		
			<div class="clearfix"></div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Total <div style="display:inline;" class="count green">vs</div> Completed Challenges</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>			
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
						<canvas id="canvasRadarChall" width="593" height="296" style="width: 593px; height: 296px;"></canvas>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Team Components - <div style="display:inline;" class="count green">Team Name</div></h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>

						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="display: block;">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Username</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Mark</td>
									<td>Otto</td>
									<td>@mdo</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Jacob</td>
									<td>Thornton</td>
									<td>@fat</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Larry</td>
									<td>the Bird</td>
									<td>@twitter</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>

		{% for category in categories %}
		<div class="clearfix"></div>
		<div class="">
			<div class="clearfix"></div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="">
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2><i class="fa fa-bug"></i> {{ category.name }}</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<!-- modals -->
					<!-- Large modal -->
					{% for challenge in category.challenges.all %}
					<button id="challenge_button_id_{{ challenge.id }}" type="button" class="btn {% btn_challenge_class user challenge %}" data-toggle="modal" data-target="#dialog_challenge_{{ challenge.id }}">{{challenge.name}}</button>
					<div class="modal fade bs-example-modal-lg" id="dialog_challenge_{{ challenge.id }}" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">

								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" onclick="redirect()"><span aria-hidden="true">×</span>
									</button>
									{% challenge_is_solved as solved %}
									{% if solved %}
									<h2 class="modal-title" id="myModalLabel"><strong>{{challenge.name}} - <span class="count green">Points: {{challenge.points}} - SOLVED</span></strong></h2>
									{% else %}
									<h2 class="modal-title" id="myModalLabel"><strong>{{challenge.name}} - <span class="count green">Points: {{challenge.points}}</span></strong></h2>
									{% endif %}

								</div>
								<div class="modal-body">
									<p style="margin-bottom:20px;"><i class="fa fa-bug"></i><strong> Description</strong>:<br> {{challenge.description}}</p>

									{% for hint in challenge.hints.all %}
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="x_panel">
											<div class="x_title">
												<h7><i class="fa fa-bolt"></i><strong>  Hint {{forloop.counter}}</strong></h7>
												<ul class="nav navbar-right panel_toolbox">
													<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
													</li>

												</ul>
												<div class="clearfix"></div>
											</div>
											<div class="x_content" style="display: none;">
												<p>{{hint}}</p>
											</div>
										</div>
									</div>
									{% endfor %}

									{% for attachment in challenge.attachments.all %}

									<p style="float:left;margin-right:15px;margin-top:15px;"><i class="fa fa-file-text"></i><strong> Attachement {{forloop.counter}}</strong>: 
										<button type="button" onclick="window.open('/{{attachment.file.url}}', '_blank')" class="btn btn-primary">{{attachment.name}}</button>
									</p>

									{% endfor %}
									<div class="clearfix"></div>

									{% challenge_is_solved as solved %}
									{% if solved %}
									<button type="button" class="btn btn-default" data-dismiss="modal" onclick="redirect()">Close</button>
									{% else %}
									<span style="margin-bottom: 50px;" class="count green"><i class="fa fa-key"></i><strong> Key</strong>:
									</span>
									<input id="key_{{ challenge.id }}" style="margin-bottom:15px;" class="form-control col-md-7 col-xs-12" type="text" name="key" required="required"  type="text">
									<ul id="message_{{ challenge.id }}" class="parsley-errors-list" id="parsley-id-5"><li class="parsley-required"></li></ul>
									<div style="padding: 0px;" class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal" onclick="redirect()">Close</button>
										<button id="send_key_{{ challenge.id }}" onclick="solve({{ challenge.id }})" value="" class="btn btn-success">Send Key</button>
									</div>	
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- /modals -->
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="clearfix"></div>
</div>
<!-- /page content -->

<script>
	function solve(id){
		key = $('#key_'+id);
		message = $('#message_'+id);

		if(key.val() == ""){
			key.addClass('parsley-error');
			message.text('This value is required.');
		}
		else {
			$.ajax({
				type: 'post',
				url: '{% url "api-challenge:solve-challenge-list" %}',
				data: {challenge: id, key: $('#key_'+id).val()},
				success: function (data) {
					message.html("<span class='green'>OK</span>");
					$("#challenge_button_id_"+id).removeClass('btn-primary').addClass('btn-success');
				},
				error: function (data) {
				if(data.status == "417"){ // wrong key
					message.text("Wrong Key!");
				}
				else if(data.status == "412"){ // already solved
					message.text("Already Solved!");
				}
			},
		});
			return false;
		}
	}

	// TODO: Capire come gestire il fatto che se non faccio redirect l'if sul solved non funziona (ovviamente) mostrando i bottoni.
	function redirect(){
		window.location.href="{% url 'challenges' %}";
		return false;
	}
</script>


{% endblock %}



