{% extends "sctf/base.html" %}
{% block title %}Security CTF | NO Profile Error Page{% endblock %}
{% load challenges_tags %}
{% load static %}


{% block content %}

<!-- page content -->

<div class="right_col" role="main" style="min-height: 5364px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<!--<h3>Team Statistic </h3>-->
			</div>
		</div>
		<div class="clearfix"></div>

		<!-- top tiles -->
		
		<div class="row">


			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="green">ERROR: User without profile. Contact administrator</small></h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>

                </div>
			</div>
        </div>
    </div>
</div>


{% endblock %}
