{% extends "sctf/base.html" %} 
{% block title %}Security CTF | NO Team Error Page{% endblock %}
{% load challenges_tags %}
{% load static %} {% block content %}

<!-- page content -->
<div class="right_col" role="main" style="min-height: 5364px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <!--<h3>Team Statistic </h3>-->
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- top tiles -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="green">WELCOME, PLEASE READ CARREFULLY THE INSTRUCTIONS BELOW</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="bs-example" data-example-id="simple-jumbotron">
              <div class="jumbotron">
                <h1 style="text-align: center;"><i class="fa fa-warning red"></i> You're not part of a team.</h1>
                <h1 style="text-align: center;"><i class="fa fa-user"></i> <i class="fa fa-arrow-right green"></i> <i class="fa fa-group"></i></h1>
                <h3 style="text-align:center;"><i class="fa fa-info green"></i> Join an existing Team or create Your own Team.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="green">JOIN OR CREATE TEAM</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form enctype="multipart/form-data" method="post" action='' id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last_name">Join Team: <span style="color:#E74C3C;" class="required">*</span>
                              </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p>
                    <p class="helptext">
                      Team 1: <input type="radio" class="flat" name="team" id="" value="" required="required" /> <br> Team
                      2: <input type="radio" class="flat" name="team" id="" value="" required="required" /><br> Team 3: <input
                        type="radio" class="flat" name="team" id="" value="" required="required" /><br>
                    </p>
                  </p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" value="#" class="btn btn-success">Send Join Request</button>
                  <input type="hidden" name="next" value="{{next}}" />
                </div>
              </div>
            </form>
            <div class="clearfix"></div><br>
            
            <form enctype="multipart/form-data" method="post" action='{% url "team_create" %}' id="demo-form2" data-parsley-validate
              class="form-horizontal form-label-left">{% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="team_name">New Team Name: <span style="color:#E74C3C;" class="required">*</span>
                                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input class="form-control col-md-7 col-xs-12" type="text" name="team_name" id="id_team_name" type="text" required="required">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" value="#" class="btn btn-success">Create Team</button>
                  <input type="hidden" name="next" value="{{next}}" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="green">INSTRUCTIONS</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!-- Smart Wizard -->
            <p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>
            <div id="wizard" class="form_wizard wizard_horizontal">
              <ul class="wizard_steps">
                <li>
                  <a href="#step-1">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                      Step 1<br />
                      <small class="green">Choose Your Team</small>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#step-2">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                      Step 2<br />
                      <small class="green">Resolve Challenges</small>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#step-3">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                      Step 3<br />
                      <small class="green">Go For Victory!</small>
                    </span>
                  </a>
                </li>
              </ul>
              <div id="step-1">
                <h2 class="StepTitle">Step 1 - Choose Your Team</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
              <div id="step-2">
                <h2 class="StepTitle">Step 2 - Resolve Challenges</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
              <div id="step-3">
                <h2 class="StepTitle">Step 3 - Go For Victory!</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End SmartWizard Content -->

    </div>
  </div>
</div>

{% endblock %}