{% extends "sctf/base.html" %} 
{% block title %}Security CTF | NO Team Error Page{% endblock %}
{% load challenges_tags %}
{% load static %} {% block content %}

<!-- page content -->
<div class="right_col" role="main" style="min-height: 5364px;">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <!--<h3>Team Statistic </h3>-->
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- top tiles -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="blue"><i class="fa fa-home"></i><a class="blue" href="{% url 'index' %}"> HOME</a> > NO TEAM</h2>
            
            <ul class="nav navbar-right panel_toolbox">
              <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
						<div class="bs-example" data-example-id="simple-jumbotron">
							<div class="jumbotron" style="background-color:#333;">
								<h1 style="text-align: center;color:#fff;"><i class="fa fa-warning red"></i> You're not part of a team.</h1><br>
                <h1 style="text-align: center;"><i class="fa fa-user"></i> <i class="fa fa-arrow-right green"></i> <i class="fa fa-group"></i></h1><br>               
                <h3 style="text-align:center;color:#fff;"><i class="fa fa-info"></i> Join an existing Team or create Your own Team.</h3>
							</div>
						</div>
					</div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="blue"><i class="fa fa-info-circle"></i> CREATE TEAM</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="clearfix"></div><br>
         

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="team_name">New Team Name: <span style="color:#E74C3C;" class="required">*</span>
                                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input class="form-control col-md-7 col-xs-12" type="text" name="team_name" id="id_team_name" type="text" required="required">
                </div>
              </div>

              <!-- to change -->
              <div class="x_content bs-example-popovers">
                  <div style="display:none;" id="alert" class="alert alert-success fade in" role="alert">
                    <p id="alert_message"></p>
                  </div>
                </div>

              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  
                  <input type="hidden" name="next" value="{{next}}" />
                  <ul id="message" class="parsley-errors-list" id="parsley-id-5">
                    <li class="parsley-required"></li>
                  </ul>
                  <button type="submit" value="#" onclick="create();" class="btn btn-success">Create Team</button>
              
                </div>  
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="blue"><i class="fa fa-info-circle"></i> JOIN TEAM</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last_name">Join Team: <span style="color:#E74C3C;" class="required">*</span>
                              </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <p>
                    <p class="helptext">
                      {% for team in teams %}
                      {{team.name}}: <input type="radio" class="flat" name="team" id="team_name_{{team.name}}" value="" required="required" /> <br> 
                      <ul id="message2" class="parsley-errors-list" id="parsley-id-5">
                        <li class="parsley-required"></li>
                      </ul>
                      {% endfor %}
                    </p>
                  </p>
                </div>
              </div>

              <div class="x_content">
                  <div style="display:none;" id="alert" class="alert alert-success fade in" role="alert">
                    <p id="alert_message"></p>
                  </div>
                </div>
              
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" value="#" onclick="join();" class="btn btn-success">Send Join Request</button>
                  <input type="hidden" name="next" value="{{next}}" />
                </div>
              </div>
            <div class="clearfix"></div><br>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="blue"><i class="fa fa-info-circle"></i> PLEASE READ CARREFULLY THE INSTRUCTIONS BELOW</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!-- Smart Wizard -->
            <p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>
            <div id="wizard" class="form_wizard wizard_horizontal">
              <ul class="wizard_steps">
                <li>
                  <a href="#step-1">
                    <span class="step_no">1</span>
                    <span class="step_descr">
                      Step 1<br />
                      <small class="green">Choose Your Team</small>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#step-2">
                    <span class="step_no">2</span>
                    <span class="step_descr">
                      Step 2<br />
                      <small class="green">Resolve Challenges</small>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#step-3">
                    <span class="step_no">3</span>
                    <span class="step_descr">
                      Step 3<br />
                      <small class="green">Go For Victory!</small>
                    </span>
                  </a>
                </li>
              </ul>
              <div id="step-1">
                <h2 class="StepTitle">Step 1 - Choose Your Team</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
              <div id="step-2">
                <h2 class="StepTitle">Step 2 - Resolve Challenges</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
              <div id="step-3">
                <h2 class="StepTitle">Step 3 - Go For Victory!</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End SmartWizard Content -->

    </div>
  </div>
</div>


<script >
    function create() {
        name = $('#id_team_name').val();
        message = $('#message');
        al = $('#alert');
        alert_message = $('#alert_message');
         
        if (name == "") {
          $('#id_team_name').addClass('parsley-error');
          message.text('This value is required.');
        }
        else {
          $.ajax({
            type: 'post',
            url: '{% url "api-accounts:team-list" %}',
            data: { name:name },
            success: function (data) {
              $('#id_team_name').removeClass('parsley-error');
              //alert("OK");
              alert_message.text('data');
              al.removeClass('alert-danger alert-warning').addClass('alert-success');
              al.show();
            },
            error: function (data) {
             if (data.status == "412") { // already solved
                $('#id_team_name').addClass('parsley-error');
                alert("Error");                
                alert_message.text('Team Already exists!');
                alert.removeClass('alert-success alert-danger').addClass('alert-warning');
                alert.show();
              }
            },
          });
          return false;
        }
      }

      function join(id) {
        key = $('#key_' + id);
        message = $('#message_' + id);
        alert = $('#alert_' + id);
        alert_message = $('#alert_message_' + id);
  
        if (key.val() == "") {
          key.addClass('parsley-error');
          message.text('This value is required.');
        }
        else {
          $.ajax({
            type: 'post',
            url: '{% url "api-accounts:team-list" %}',
            data: { challenge: id, key: $('#key_' + id).val() },
            success: function (data) {
              key.removeClass('parsley-error');
              $("#challenge_button_id_" + id).removeClass('btn-primary').addClass('btn-success');
              alert_message.text('OK!');
              alert.removeClass('alert-danger alert-warning').addClass('alert-success');
              alert.show();
            },
            error: function (data) {
             if (data.status == "412") { // already solved
                key.addClass('parsley-error');
                alert_message.text('Team Already exists!');
                alert.removeClass('alert-success alert-danger').addClass('alert-warning');
                alert.show();
              }
            },
          });
          return false;
        }
      }
    </script>
    {% endblock %}
    