{% extends "sctf/base.html" %}
{% load challenges_tags %}

{% block content %}
{% load static %}


<!-- page content -->

<!-- page content -->


<div class="right_col" role="main" style="min-height: 5364px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>Team Statistic </h3>
			</div>

			
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Key Percentage - Fail vs Solves</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<canvas id="canvasDoughnut_key_percentage"></canvas>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Category Breakdown</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<canvas id="canvasDoughnut_category_breakdown"></canvas>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Score Over Time</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="dashboard_graph">

								<div class="row x_title">
									<div class="col-md-6">
										<h3>Score Over Time</small></h3>
									</div>
									<div class="col-md-6">
										<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
											<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
											<span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
										</div>
									</div>
								</div>

								<div class="col-md-12 col-sm-12 col-xs-12">
									<div id="teamScoreOverTime" class="demo-placeholder"></div>
								</div>


								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br />
			<div class="clearfix"></div>

			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Solves</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<p class="text-muted font-13 m-b-30">
							The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
						</p>
						<table id="datatable-buttons-solves" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Challenge</th>
									<th>Category</th>
									<th>Points</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								{% for user in team.users.all %} <!-- da cambiare -->
								<tr>
									<td>TODO</td>
									<td>TODO</td>
									<td>TODO</td>
									<td>TODO</td>

								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Team Components</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<p class="text-muted font-13 m-b-30">
							The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
						</p>
						<table id="datatable-buttons-team-components" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Username</th>
									<th>Name</th>
									<th>Surname</th>
									<th>Email</th>
									<th>Total Points</th>
								</tr>
							</thead>
							<!-- Componenti -> username, nome, cognome, email, punti. -->
							<tbody>
								{% for user in team.users.all %}
								<tr>
									<td>{{user}}</td>
									<td>{{user.first_name}}</td>
									<td>{{user.last_name}}</td>
									<td>{{user.email}}</td>
									<td>TODO</td>

								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}




{% block extra_js %}

<!-- Tables (Solves, Team Components) init -->
<script type="text/javascript">
	$(document).ready(function() {
		console.log('aa');
		init_chart_doughnut();
	});
</script>

<script type="text/javascript">
	function init_chart_doughnut(){

		if( typeof (Chart) === 'undefined'){ return; }

		console.log('init_chart_doughnut');

		// Page team - Key Percentage
		if ($('#canvasDoughnut_key_percentage').length){

			var chart_doughnut_settings = {
				type: 'doughnut',
				tooltipFillColor: "rgba(51, 51, 51, 0.55)",
				data: {
					labels: [
					"Solved",
					"Failed",
					"Never Tried"
					],
					datasets: [{
						data: [
							{{ team.num_success }},
							{{ team.num_failed_challenges }},
							{{ team.num_never_tried_challenges }}
						],
						backgroundColor: [
						"#26B99A",
						"#E74C3C",
						"#BDC3C7"
						],
						hoverBackgroundColor: [
						"#36CAAB",
						"#E95E4F",
						"#CFD4D8"
						]
					}]
				},
				options: {
					legend: true,
					responsive: true,
				}
			}

			$('#canvasDoughnut_key_percentage').each(function(){

				var chart_element = $(this);
				var chart_doughnut = new Chart( chart_element, chart_doughnut_settings);

			});

		}

		// Page team - Category Breakdown
		if ($('#canvasDoughnut_category_breakdown').length){

			var chart_doughnut_settings = {
				type: 'doughnut',
				tooltipFillColor: "rgba(51, 51, 51, 0.55)",
				data: {
					labels: [
					"Symbian",
					"Blackberry",
					"Other",
					"Android",
					"IOS"
					],
					datasets: [{
						data: [15, 20, 30, 10, 30],
						backgroundColor: [
						"#BDC3C7",
						"#9B59B6",
						"#E74C3C",
						"#26B99A",
						"#3498DB"
						],
						hoverBackgroundColor: [
						"#CFD4D8",
						"#B370CF",
						"#E95E4F",
						"#36CAAB",
						"#49A9EA"
						]
					}]
				},
				options: {
					legend: true,
					responsive: true
				}
			}

			$('#canvasDoughnut_category_breakdown').each(function(){

				var chart_element = $(this);
				var chart_doughnut = new Chart( chart_element, chart_doughnut_settings);

			});

		}

	}
</script>
{% endblock %}
