{% extends "sctf/base.html" %}
{% block title %}Security CTF | Teams{% endblock %}
{% load challenges_tags %}
{% block content %}
{% load static %}


<!-- page content -->


<div class="right_col" role="main" style="min-height: 5364px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="blue"><i class="fa fa-home"></i><a class="blue" href="{% url 'index' %}"> HOME</a> > JOIN MANAGEMENT</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="bs-example" data-example-id="simple-jumbotron">
							<div class="jumbotron" style="background-color:#333;">
								<h1 style="text-align: center;color:#fff;"><span class="blue"><i class="fa fa-group"></i> JOIN</span></h1><br>
								<h3 style="text-align:center;color:#fff;"><i class="fa fa-database"></i> Teams:<span class="blue"> #{{teams_count}}</span></h3>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="blue"><i class="fa fa-info-circle"></i> TEAMS LIST</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<p class="text-muted font-13 m-b-30">
						{% lorem 2 %}
						</p>
						<table data-order='[[ 0, "asc" ]]' id="datatable-buttons-team-list" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th style="width:1%;">Index</th>
									<th style="text-align: center;">Team Name</th>
									<th style="text-align: center;">Team Members</th>
									<th style="text-align: center;">Status</th>
									<th style="text-align: center;">Manage</th>
									
								</tr>
							</thead>
							<tbody>
								{% for team in teams %}
								<tr>
									<td style="text-align: center;">{{forloop.counter}}</td>
									<td style="text-align: center;"><a class="count blue" href="{% url 'team' pk=team.pk %}">{{team.name}}</a>
										<br />

										<small>Created on {{team.created_at}}</small><br>
									</td>
									<td style="text-align: center;">
										<ul class="list-inline">
											{% for user in team.users.all %}
											<li>
												<img src="/{{user.profile.image.url}}" class="avatar" alt="Avatar">
												<a class="blue" href="{% url 'user' pk=user.pk %}"><font size="0" style="display:block;" >{{user.username}}</font></a>
											</li>
											{% endfor %}
										</ul>
									</td>
									<td style="text-align: center;">
											<label type="label" class="label label-success label-xs">Success</label>
									</td>
									<td style="text-align: center;">
											<a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Approve </a>
											<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
									</td>											
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- HTML SAMPLE Delete from here -->
	<div class="clearfix"></div>
	
				<div class="row">
				  <div class="col-md-12">
					<div class="x_panel">
					  <div class="x_title">
						<h2>TO DELETE ONLY FOR HTML SAMPLE</h2>
						<ul class="nav navbar-right panel_toolbox">
						  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						  </li>
						  <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
							  <li><a href="#">Settings 1</a>
							  </li>
							  <li><a href="#">Settings 2</a>
							  </li>
							</ul>
						  </li>
						  <li><a class="close-link"><i class="fa fa-close"></i></a>
						  </li>
						</ul>
						<div class="clearfix"></div>
					  </div>
					  <div class="x_content">
	
						<p>Simple table with project listing with progress and editing options</p>
	
						<!-- start project list -->
						<table class="table table-striped projects">
						  <thead>
							<tr>
							  <th style="width: 1%">#</th>
							  <th style="width: 20%">Project Name</th>
							  <th>Team Members</th>
							  <th>Project Progress</th>
							  <th>Status</th>
							  <th style="width: 20%">#Edit</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>#</td>
							  <td>
								<a>Pesamakini Backend UI</a>
								<br />
								<small>Created 01.01.2015</small>
							  </td>
							  <td>
								<ul class="list-inline">
								  <li>
									<img src="images/user.png" class="avatar" alt="Avatar">
								  </li>
								  <li>
									<img src="images/user.png" class="avatar" alt="Avatar">
								  </li>
								  <li>
									<img src="images/user.png" class="avatar" alt="Avatar">
								  </li>
								  <li>
									<img src="images/user.png" class="avatar" alt="Avatar">
								  </li>
								</ul>
							  </td>
							  <td class="project_progress">
								<div class="progress progress_sm">
								  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
								</div>
								<small>57% Complete</small>
							  </td>
							  <td>
								<button type="button" class="btn btn-success btn-xs">Success</button>
							  </td>
							  <td>
								<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
								<a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
								<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
							  </td>
							</tr>
						  </tbody>
						</table>
						<!-- end project list -->
	
					  </div>
					</div>
				  </div>
				</div>
	<!-- To here -->



</div>

{% endblock %}

{% block extra_js %}
<!-- Tables (Solves, Team Components) init -->

<script type="text/javascript">
	$(document).ready(function() {
		init_TeamBuddyList();
	});
</script>

<script type="text/javascript">
	/* DATA TABLES */
	function init_TeamBuddyList() {
		console.log('run_datatables');
		if( typeof ($.fn.DataTable) === 'undefined'){ return; }
		console.log('init_DataTables');

			// Page challenges - Team Solves
			var createTable_TeamList = function() {

				if ($("#datatable-buttons-team-list").length) {
					$("#datatable-buttons-team-list").DataTable({
						dom: "Bfrtip",
						buttons: [
						{
							extend: "copy",
							className: "btn-sm"
						},
						{
							extend: "csv",
							className: "btn-sm"
						},
						{
							extend: "print",
							className: "btn-sm"
						},
						],
						responsive: true
					});
				}
			};

			TableManageButtons = function() {
				"use strict";
				return {
					init: function() {
							// Page challenges - Team Solves Table
							createTable_TeamList();

						}
					};
				}();

				TableManageButtons.init();
			}
		</script>

		{% endblock %}




