{% extends "sctf/base.html" %}
{% block title %}Security CTF | Teams{% endblock %}
{% load challenges_tags %}
{% block content %}
{% load static %}


<!-- page content -->


<div class="right_col" role="main" style="min-height: 5364px;">
	<div class="">
		<div class="page-title">
			<div class="title_left">
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="blue"><i class="fa fa-home"></i><a class="blue" href="{% url 'index' %}"> HOME</a> > JOIN MANAGEMENT</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="bs-example" data-example-id="simple-jumbotron">
							<div class="jumbotron" style="background-color:#333;">
								<h1 style="text-align: center;color:#fff;"><span class="blue"><i class="fa fa-group"></i> JOIN</span></h1><br>
								<h3 style="text-align:center;color:#fff;"><i class="fa fa-database"></i> Teams:<span class="blue"> #{{teams_count}}</span></h3>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="blue"><i class="fa fa-info-circle"></i> TEAMS LIST</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<p class="text-muted font-13 m-b-30">
						{% lorem 2 %}
						</p>
						{% include 'accounts/team_admin_requests_list.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">

$(document).ready(function() {
	load_table();
});


events_functions['JOIN_REQUEST'] = function(message){
	$('#badge_join').text(message['num_pending_requests']);
	createNewNotification(
		'Hey! New Join Request',
		`User ${message['user_name']} wants to join your team`
	);
	load_table_ajax()
};

base_delete = events_functions['JOIN_REQUEST_DELETED'];
events_functions['JOIN_REQUEST_DELETED'] = function(message){
	base_delete(message);
	load_table_ajax();
}

function load_table_ajax(){
	$('#datatable-buttons-team-list').dataTable().fnDestroy();
	$.ajax({
		url: "{% url 'api-users:user-team-request' %}",
		success: function (data) {
			$("#datatable-buttons-team-list").html(data);
			load_table();
		},
	});
}

/* DATA TABLES */
function load_table() {
	console.log('run_datatables');
	if( typeof ($.fn.DataTable) === 'undefined'){ return; }
	console.log('init_DataTables');

	// Page challenges - Team Solves
	var createTable_TeamList = function() {
		if ($("#datatable-buttons-team-list").length) {
			$("#datatable-buttons-team-list").DataTable({
				dom: "Bfrtip",
				aaSorting: false,
				buttons: [
					{
						extend: "copy",
						className: "btn-sm"
					},
					{
						extend: "csv",
						className: "btn-sm"
					},
					{
						extend: "print",
						className: "btn-sm"
					},
				]
			});

		}
	};

	TableManageButtons = function() {
		"use strict";
		return {
			init: function() {
				// Page challenges - Team Solves Table
				createTable_TeamList();
			}
		};
	}();

	TableManageButtons.init();

}


</script>
{% endblock %}




