{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}Security CTF | Login{% endblock %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}
{% load static %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
      </div>
    </div>
    <div class="clearfix"></div>
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="blue"><i class="fa fa-home"></i> LOGIN</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="bs-example" data-example-id="simple-jumbotron">
                <div class="jumbotron" style="background-color:#333;">
                  <h3 style="color:#fff;text-align:center;margin-top:-25px;">Hi, Welcome to Security Capture the Flag Platform.</h3><br>
                  <h3 style="text-align:center;margin-bottom:-20px;"><img style="width:8%;" src="{% static 'sctf/images/top_big_blue.png' %}" alt=""></h3><br>
                  <h1 style="text-align:center;"><span class="blue">Are You ready to play?</span></h1>
								<h3 style="color:#fff;text-align:center;margin-bottom:-20px;"><i class="fa fa-home"></i> Please <a href="#"><span class="blue">Log-In</span></a>
                 or <i class="fa fa-user"></i><a href="{{ register_url }}"><span class="blue"> Register</span></a> New Account.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2 class="blue"><i class="fa fa-info-circle"></i> PLEASE INSERT YOUR CREDENTIALS <small>required filds are idetified by <span class="red">*</span></small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
            <form method="post" action="{% url 'auth_login' %}" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{% trans form.username.label_tag %} <span class="required">*</span>
                  </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input class="form-control col-md-7 col-xs-12" type="text" name="username" autofocus="" required="required" id="id_username"
                    maxlength="254" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{% trans form.password.label_tag %} <span class="required">*</span>
                  </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input class="form-control col-md-7 col-xs-12" type="password" name="password" required="required" id="id_password" type="password">
                </div>
              </div>
              {% if form.errors %}
              <ul id="parsley-id-5" class="parsley-errors-list filled">
                <li class="parsley-required">{% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}</li>
              </ul>
              {% endif %}
              		<div class="form-group">
							</div>
              <div class="ln_solid"></div>
              <div style="float:left;">{% blocktrans %}<i class="fa fa-question-circle red"></i> <a href="{{ auth_pwd_reset_url }}">Forgot your password?</a> <br>
                <i class="fa fa-user blue"></i> <a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</div>
              <div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" >
                  <button class="btn btn-primary" type="reset">Cancel</button>
                  <button type="submit" value="{% trans " login " %}" class="btn btn-success">Submit</button>
                  <input type="hidden" name="next" value="{{ next }}" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
{% endblock %}