{% extends "registration/registration_base.html" %} {% load i18n %} {% block title %}Security CTF | Reset Password{% endblock
%} {% block content %}

<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2 class="green">PLEASE INSERT YOUR REGISTRATION EMAIL <small>required filds are idetified by *</small></h2>
						<ul class="nav navbar-right panel_toolbox">
							<li style="margin-left: 46px;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<form method="post" action="" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Email: <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" type="text" name="email" required="required" id="id_email" type="email">
								</div>
							</div>
							{% if form.errors %}
							<ul id="parsley-id-5" class="parsley-errors-list filled">
								<li class="parsley-required">{% blocktrans %}Forgot your password? Enter your email in the form below and we'll send you instructions for creating
									a new one.{% endblocktrans %}</li>
							</ul>
							{% endif %}
							<div class="form-group">
							</div>
							<div class="ln_solid"></div>
							<div style="float:left;">
								<a href="{% url 'auth_login' %}">
									{% blocktrans %}Already an account, Log-In?{% endblocktrans %}
								</a>
							</div>
							<div class="form-group" style="margin-top: -10px;margin-bottom: 75px;">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
									<button class="btn btn-primary" type="reset">Cancel</button>
									<button type='submit' value="{% trans " Reset password "  %}" class="btn btn-success">Submit</button>
									<input type="hidden" name="next" value="{{ next }}" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
{% endblock %}